.about li {
  list-style: none; }

.container .row .col-md-4 img .site_img {
  max-width: 100px; }

body {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: #1a1a1a; }

.jumbotron .container h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: #00cccc; }

.jumbotron .container img {
  border-radius: 200px; }

.btn .btn-success button {
  background-color: blue; }

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #00cccc; }

li {
  font-family: "Playfair Display", serif;
  font-size: 1.75em; }

a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em; }
