// out: ../css/themes.css
@import "small";
@import "large";

$bodyFont: 'Playfair Display', serif;
$headingFont: 'Josefin Sans', sans-serif;
$fontSize: 18px;
$dark: #1a1a1a;
$light: #e6e6e6;
$bright: #00cccc;

body {
  font-size: $fontSize;
  font-family: $bodyFont;
  color: $dark;
}
.jumbotron .container {
  h1 {
  font-family: $headingFont;
  font-weight: bold;
  font-size: 4em;
  color: $bright;
  }
  img {
    border-radius: 200px;
  }
}

.btn-primary a {
  color: white;
}

.btn.btn-default.site-btn {
  color: $bright;
}

h2 {
  font-family: $headingFont;
  font-size: 2em;
  font-weight: bold;
  color: $bright;
}
li {
  font-family: $bodyFont;
  font-size: 1.75em;
}
a {
  font-family: $headingFont;
  font-size: 1.5em;
}
