header {
  height: 700px;
}
h1, p {
  margin: 0;
  max-width: 455px;
  margin: auto;
}
h1{
  padding-top: 100px;
}
img {
  display: block;
  margin: auto;
}
.about-me {
  text-align: center;
}
.about-me ul {
  margin: 0;
  height: 700px;
}

.about-me ul li {
  max-width: 600px;
  margin: auto;
}

h2 {
  margin: 0;
}

.communicate {
  text-align: center;
}
.communicate ul {
  margin: 0;
  height: 700px;
}
a {
  padding: 5px 10px 5px;
}
