// out: ../css/themes.css
@import "small";
@import "large";
@font-face {
 /* IE9 Compat Modes */
}

$headingFont: 'Raleway', sans-serif;
$fontSize: 18px;
$white: #EEEEEE;
$black: #290014;

body {
  margin: 0;
  color: $black;
  font-family: $headingFont;
  background: $white;

}
.logo {
  text-align: center;
}
h1 {
  font-size: 3em;
  margin: 0;
}
h2 {
  margin: 0;
}
.nav_bar {
  text-align: center;
  font-size: 2em;
}
.blurb {
  margin: auto;
  max-width: 70%;
  text-align: center;
}
.about_me {
  text-align: center;
}
.my_projects {
  display: none;
}
.personal_info {
  display: none;
}
.contact_info {
  display: none;
}
.site_img {
  max-width: 200px;
}
