// out: ../css/themes.css
@import "small";
@import "large";
@font-face {
 /* IE9 Compat Modes */
}

$headingFont: 'Raleway', sans-serif;
$fontSize: 18px;
$white: #EEEEEE;
$black: #333333;
$grey: #858585;

body {
  color: $black;
  font-family: $headingFont;
  background: $white;
}
header {
  color: $white;
  background-color: $black;
}
a {
  color: red;
}
.about_me a {
  text-decoration: none;
}
.my_projects {
  display: none;
  color: $black;
}
.personal_info {
  display: none;
}
.contact_info {
  display: none;
}
.project {
  background-color: $grey;
}
.site_button, .code_button {
  text-decoration: none;
  background-color: red;
  color: $white;
}
.contact_info h4 {
  color: $black;
}
