@font-face {
  /* IE9 Compat Modes */ }

body {
  margin: 0;
  color: #290014;
  font-family: "Raleway", sans-serif;
  background: #EEEEEE; }

.logo {
  text-align: center; }

h1 {
  font-size: 3em;
  margin: 0; }

h2 {
  margin: 0; }

.nav_bar {
  text-align: center;
  font-size: 2em; }

.blurb {
  margin: auto;
  max-width: 70%;
  text-align: center; }

.about_me {
  text-align: center; }

.my_projects {
  display: none; }

.personal_info {
  display: none; }

.contact_info {
  display: none; }

.site_img {
  max-width: 200px; }
